<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-outline-primary" id="btnSave">Save</button>
        <button class="btn btn-outline-primary" id="btnAdd">Add</button>
        <button class="btn btn-outline-danger" id="btnDelete">Delete</button>
        <button class="btn btn-outline-primary" id="btnFirst">&lt;&lt;</button>
        <button class="btn btn-outline-primary" id="btnPrevious">&lt;</button>
        <button class="btn btn-outline-primary" id="btnNext">&gt;</button>
        <button class="btn btn-outline-primary" id="btnLast">&gt;&gt;</button>

        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Actions
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>

    </div>
</div>