@page

@model ManageCustomersModel

@{
    ViewData["Title"] = "Manage Customers";
    ViewData["SelectedPage"] = "ManageCustomer";
}

@section ToolBar{
<div class="row">
    <partial name="_ActionBar" />

    <div class="row g-1">
        <div id="serverMessages">

        </div>
    </div>
</div>
}


@if (Model != null)
{
    <form class="row g-1" id="frmCustomer" method="post">
        <div class="col-12">
            <label asp-for="CustomerVm.RefNbr"></label>
            <input asp-for="CustomerVm.RefNbr" class="form-control" aria-required="true" />
            <span asp-validation-for="CustomerVm.RefNbr" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label asp-for="CustomerVm.Name"></label>
            <input asp-for="CustomerVm.Name" class="form-control" aria-required="true" />
            <span asp-validation-for="CustomerVm.Name" class="text-danger"></span>
        </div>

        <ul class="nav nav-tabs" id="tabsCustomer" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tabCustomerDetails" data-bs-toggle="tab"
                data-bs-target="#tabCustomerItemsContent" type="button" role="tab"
                aria-controls="tabCustomerItemsContent" aria-selected="true">Shipping details</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tabCustomerItemsContent" role="tabpanel" aria-labelledby="tabPrices">
                <div class="" id="customerAddresses_Container" style="height: 300;">
                    @* place holder for customer shipping details *@
                </div>
            </div>
        </div>
    </form>
}


@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src="~/js/services/managecustomers/manage-customers.js"></script>


<script>
    $(document).ready(function () {
        ManageCustomers.initCustomersPage(@Json.Serialize(Model.CustomerVm.Addresses));
    });    
</script>

}