tooling

dotnet tool install --global dotnet-ef
dotnet ef database update

migrations:
dotnet ef migrations add CustomUserData
dotnet ef database update

#debugging freezing solution
"C:\Users\Xyz\AppData\Local\Programs\Microsoft VS Code\Code.exe" --disable-features=CalculateNativeWinOcclusion

# issues:
1. using tab in grid: tabbing back on the last cell causes creating new row - need a fix - SOLVED
2. The ref field in the addresses grids needs to be disabled after saving. - SOLVED
3. No data in the grid when the page loads for the first time - SOLVED
4. Save button is disabled when a new grid row is added - SOLVED
5. Show errors in the grid - row level OR cell level
6. Fix the width of items in the grid - SOLEVED
7. Support pagination in the grid
8. Support for dropdowns in the grid
9. support for row markers in the grid., e.g, row is added, updated, errors, (icons)
10. Enable save button when a line from the gird is deleted - SOLVED
11. Add support for resizing the columns - SOLVED
12. Clear model errors when navigate away from current record