tooling

dotnet tool install --global dotnet-ef
dotnet ef database update

migrations:
dotnet ef migrations add CustomUserData
dotnet ef database update


Booking

UserID: Shahid
Date: 01.11.2021
AddressID: 10200
BookingID: ef3b82a6-d27a-470b-9d6d-5bbdd02e7102

BookingItems:
ProductID: p1
BookingID: ef..

StockItems

ItemID: cb...
DisplayID: air heater
Description: 

StockItemPrices
ItemID: cb..
BreakQty: 10
PriceValidFrom: 
PriceExpiresAt:
Unit Cost: 
UnitOfMeasure: 

Address
AddressID: 10200
Address: Ml Shahid gate 34H
PostalCode: 1234
City: Oslo
Country: Norway
Phone: 123456789
Email: shahid.ali@play.com



