<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-outline-primary" id="btnSave" disabled><i class="bi bi-save"></i></button>
        <button class="btn btn-outline-primary" id="btnAdd"><i class="bi bi-plus-circle"></i></button>
        <button class="btn btn-outline-danger" id="btnDelete"><i class="bi bi-trash"></i></button>
        <button class="btn btn-outline-primary" id="btnFirst">&lt;&lt;</button>
        <button class="btn btn-outline-primary" id="btnPrev">&lt;</button>
        <button class="btn btn-outline-primary" id="btnNext">&gt;</button>
        <button class="btn btn-outline-primary" id="btnLast">&gt;&gt;</button>
        <button class="btn btn-outline-primary" id="btnRefresh"> <i class="bi bi-arrow-clockwise"></i></button>


        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Actions
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>

    </div>
</div>