@page

@model ManageBookingModel

@{
    ViewData["Title"] = "Manage bookings";
    ViewData["SelectedPage"] = "ManageBooking";
}

@section ToolBar{
<div class="row">
    <partial name="_ActionBar" />

    <div class="row g-1">
        <div id="serverMessages">

        </div>
    </div>
</div>
}


@if (Model != null)
{
    <div class="row">
        @* booking header *@
        <div class="col-6">
            <form class="row g-1" id="frmBooking" method="post">
                <div class="col-12 form-floating">
                    <input asp-for="BookingVm.RefNbr" class="form-control form-control-sm" placeholder="Reference"
                    aria-required="true" />
                    <label asp-for="BookingVm.RefNbr"></label>
                    <span asp-validation-for="BookingVm.RefNbr" class="text-danger"></span>
                </div>
                <div class="col-12 form-floating">
                    <select asp-for="BookingVm.CustomerRefNbr" asp-items="Model.Customers" class="form-select"></select>
                    <label asp-for="BookingVm.CustomerRefNbr"></label>

                    <span asp-validation-for="BookingVm.CustomerRefNbr" class="text-danger"></span>
                </div>
                <div class="col-12 form-floating">
                    <input asp-for="BookingVm.Description" class="form-control form-control-sm" placeholder="Description"
                    aria-required="true" />
                    <label asp-for="BookingVm.Description"></label>
                    <span asp-validation-for="BookingVm.Description" class="text-danger"></span>
                </div>
                <div class="input-group mb-3 form-floating">
                    <input type="text" id="smp" class="form-control form-control-sm" placeholder="Username"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-primary" type="button" id="button-addon2"><i
                        class="bi bi-search"></i></button>
                    @* <label for="smp">Username</label> *@
                </div>
            </form>
        </div>

        <div class="col-1">

        </div>
        @* booking summary *@
        <div class="col-5">
            <div class="row g-1 booking-summary">
                <div class="card border-light mb-3" style="max-width: 18rem;">
                    @* <div class="card-header">Summary</div> *@
                    <div class="card-body text-primary">
                        <div class="card-title">
                            <div class="row">
                                <label for="txtLinesTotal" class="col-6 col-form-label col-form-label-sm">Lines
                                    total.</label>
                                <div class="col-6">
                                    <input type="number" step="any" readonly
                                    class="form-control-plaintext form-control-sm sum-value" id="txtLinesTotal" />
                                </div>
                            </div>
                        </div>
                        <div class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <label for="txtTaxable"
                                        class="col-6 col-form-label col-form-label-sm">Taxable.</label>
                                        <div class="col-6">
                                            <input type="number" step="any" readonly
                                            class="form-control-plaintext form-control-sm sum-value" id="txtTaxable" />
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <label for="txtTax" class="col-6 col-form-label col-form-label-sm">Tax.</label>
                                        <div class="col-6">
                                            <input type="number" step="any" readonly
                                            class="form-control-plaintext form-control-sm sum-value" id="txtTax" />
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <label for="txtDiscount"
                                        class="col-6 col-form-label col-form-label-sm">Discount.</label>
                                        <div class="col-6">
                                            <input type="number" step="any" readonly
                                            class="form-control-plaintext form-control-sm sum-value" id="txtDiscount" />
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <label for="txtAmount"
                                        class="col-6 col-form-label col-form-label-sm">Amount.</label>
                                        <div class="col-6">
                                            <input type="number" step="any" readonly
                                            class="form-control-plaintext form-control-sm sum-value" id="txtAmount" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-light">
                        <div class="row">
                            <label for="txtBalance" class="col-6 col-form-label col-form-label-sm">Balance.</label>
                            <div class="col-6">
                                <input type="number" step="any" readonly
                                class="form-control-plaintext form-control-sm sum-value" id="txtBalance" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* tabs for further details of the booking *@
    <div class="row">
        <ul class="nav nav-tabs" id="tabsBooking" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tabBookingDetails" data-bs-toggle="tab"
                data-bs-target="#tabBookingItemsContent" type="button" role="tab" aria-controls="tabBookingItemsContent"
                aria-selected="true">Details</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tabBookingItemsContent" role="tabpanel" aria-labelledby="tabPrices">
                <div id="bookingLines_Container" style="margin-top:10px">
                    @* place holder for customer booking details *@
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src="~/js/app/services/ManageBooking/manage-booking.js"></script>

<script>

    $(document).ready(function () {
        @* ManageBooking.initBookingPage('@Model.BookingVm.RefNbr',
                @Json.Serialize(Model.BookingVm.Lines), @Json.Serialize(Model.BookingVm.LinesMetaData)); *@

            ManageBooking.initBookingPage(@Json.Serialize(Model.BookingVm));
    });

</script>

}