@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div style="display: none;">
        <h4>Jquery validation</h4>
        <p>
        <form id="frmGreetings">

            <label for="txtName">Enter your name</label>
            <input type="text" id="txtName" name="txtName" value="Moniba" required minlength="4" maxlength="10" />

            <span id="txtNameValidation"></span>
            <br />

            <input type="submit" value="Save" />
        </form>
        </p>
    </div>
</div>

<div class="container continer-fluid">
    <div class="row">
        <div id="dummy-data-container" style="display: none;">

        </div>
    </div>
    <div class="row">
        <div>
            <div id="scroll_area" style="max-height: 450px; overflow-y: auto">
                <table class="table table-bordered" >
                    <thead>
                        <tr>
                            <td>col-1</td>
                            <td>col-2</td>
                        </tr>
                    </thead>
                    <tbody id="infinite_scroll">

                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
<script src="~/js/app/services/appindex/app-index.js"></script>
}