@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Play project to demonstrate skills in ASP.NET core and Entity framework 6.</p>
</div>
