@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Play project to demonstrate skills in ASP.NET core and Entity framework 6.</p>
    <p>Click <a asp-area="logistics" asp-page="home/index">here</a> to check out the <a asp-area="logistics"
            asp-page="home/index">LOGISTICS</a> module.</p>
    <div style="display: none;">
        <p>Test the functions for pascal and camal casing</p>
        <p>
            <input type="text" id="sampleText" /> <br />

            <input type="radio" name="function" id="pascal" value="pascal" />
            <label for="pascal">Pascal case</label>

            <input type="radio" name="function" id="pascalJson" value="pascalJson" />
            <label for="pascalJson">Pascal case (Json)</label>

            <input type="radio" name="function" id="camal" value="camal" />
            <label for="camal">Camel case</label>
            <br />
            <button id="btnConvert" type="button">Convert</button>

        <div>
            <span>Converted Text:</span>
            <span id="lblOutput"></span>
        </div>

        </p>
    </div>

    <div style="display: none;">
        <h4>Jquery validation</h4>
        <p>
        <form id="frmGreetings">

            <label for="txtName">Enter your name</label>
            <input type="text" id="txtName" name="txtName" value="Moniba" required minlength="4" maxlength="10" />

            <span id="txtNameValidation"></span>
            <br />

            <input type="submit" value="Save" />
        </form>
        </p>
    </div>


</div>

<div class="container continer-fluid">
    <div class="row">


        <div id="dummy-data-container">

        </div>        
    </div>
</div>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />

<script src="~/js/services/appindex/app-index.js"></script>
}